# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*

.obsidian/workspace.json

.obsidian/workspaces.json

# Exclude plugins
.obsidian/plugins/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*

.obsidian/workspace.json
.obsidian/workspace.json
*.json
